#cliente-modal-criar-projeto {
    max-width: 100%;
    max-height: 100%;

    width: 25%;
    padding: 1%;
}

#cliente-close-modal-icon {
    float: right;
}

#cliente-close-modal-icon:hover {
    cursor: pointer;
}

#cliente-accordion-criar-projeto {
    margin: 4% 0%;
}

#cliente-lbl-radiobtn-criar-projeto {
    margin-left: 5px;
    margin-right: 50px;
}

#cliente-icon-tooltip {
    display:inline-block;
    width: 17%;
}