body {
    background-color: whitesmoke;
}

.grey-text {
    color: grey;
}


.usr-name {
    color: black;
    font-size: 15px;
}

.usr-name:hover {
    color: black;
    cursor: pointer;
}

.project-details > * {
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
}

.time-content {
    float: right;
    width: 15%;
    margin: 0% 7%;
}

.details-right-side {
    text-align: center;
}


#perfil-text {
    font-weight: bold;
    color: chocolate;
}

#middle-page {
    height: 84vh;
    margin-left: 3%;
    margin-right: 17%;

    overflow: auto;
    scrollbar-width: thin;

    background-color: whitesmoke;
}