body {
    background-color: whitesmoke;
}

#logo-menu {
    height: 100%;
    width: 75px;
}

.menu-text {
    font-size: 13px;
}

#fullscreen-icon {
    margin-right: 20px;
    margin-left: 5px;
}

#perfil-text {
    font-weight: bold;
    color: chocolate;
}

#middle-page {
    height: 84vh;
    margin-left: 3%;
    margin-right: 17%;

    overflow: auto;
    scrollbar-width: thin;

    background-color: whitesmoke;
}

.grey-text {
    color: grey;
}

.footer-i {
    width: 150px;
    text-align: center;
}

.footer-text {
    color: grey;
    margin: auto;
}

#project-list-search-grid {
    /* border: 2px solid black; width: 100%; */
    height: 57px;
}

#title-listagem-text {
    margin-bottom: 2%;
    font-size: 21px;
}

.usr-name {
    color: black;
    font-size: 15px;
}

.usr-name:hover {
    color: black;
    cursor: pointer;
}

.project-details > * {
    display:inline-block;
    vertical-align: top;
    max-width:70%;

    /* border: 2px solid black; */
}

.time-content {
    float: right;
    width: 15%;
    margin: 0% 7%;
}

#time-left {
    margin-left: 7%;
    margin-right: 12%;
    /* border: 2px solid black; */
}

#time-right {
    margin-left: 12%;
    color: tomato;
    /* border: 2px solid black; */
}