body {
    background-color: whitesmoke;
}

#logo-menu {
    height: 100%;
    width: 75px;
}

.menu-text {
    font-size: 13px;
}

#fullscreen-icon {
    margin-right: 20px;
    margin-left: 5px;
}

#perfil-text {
    font-weight: bold;
    color: chocolate;
}

#middle-page {
    height: 84vh;
    margin: 0% 3%;

    overflow: auto;
    scrollbar-width: thin;

    background-color: whitesmoke;
}

.grey-text {
    color: grey;
}

.footer-i {
    width: 150px;
    text-align: center;
}

.footer-text {
    color: grey;
    margin: auto;
}