 body {
    background-image: url('../../resources/images/background-main.png');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

#login-segment {
    padding-bottom: 30px;
    margin: 20% auto;
    width: 29%;
}

#logo-login {
    margin: auto;
    border-radius: 30px;
}

#form-header {
    margin-top: 18px;
    font-size: 14px;
    color: grey; 
    text-align: center;
}

#esqueceu-senha {
    position: absolute;
    right: 0%;
    width: auto;
}

#link-esqueceu-senha {
    position: relative;
    left: 10%;
}

#btn-acessar-conta {
    margin-top: 20px;
    padding-top: 18px;

    width: 100%;
    height: 48px;

    font-size: 12px;
}

#txt-acessar-conta {
    text-decoration: none;
    color: white;
}