#title-listagem-text {
    margin-bottom: 2%;
    font-size: 21px;
}

#time-left {
    margin-left: 7%;
    margin-right: 12%;
}

#time-right {
    margin-left: 12%;
    color: tomato;
}


#detalhes-expansion {
    border-top: 1px dashed lightgrey;
    display: none;

    margin-top: 1%;
    padding-left: 1%;
}

#details-grid > .row {
    padding: 0;
}

#details-grid {
    margin-top: 6px;
    margin-bottom: 2px;
}