#modal-informar-horas-trabalhadas {
    width: 25%;
    padding: 1%;
}

#informar-horas-close-modal-icon {
    float: right;
    cursor: pointer;
}

#informar-qtd-horas {
    border: 1px solid lightgrey;
    border-radius: 5px;

    height: 80px;
    width: 200px;

    padding: 0px;
    margin-bottom: 20px;
    
    text-align: center;
}

#informar-txt-tempo-total {
    margin-top: 8px;
    margin-bottom: 0px;
}

#informar-txt-tempo {
    font-size: 30px;
    display:inline-block;
}